[submodule "courses/tp1"]
	path = courses/tp1
	url = git@github.com:Iswenzz/Simplon-CTS
[submodule "courses/tp2"]
	path = courses/tp2
	url = git@github.com:Iswenzz/Simplon-StrawPoll.git
[submodule "courses/tp3"]
	path = courses/tp3
	url = git@github.com:Iswenzz/Simplon-Presence.git
[submodule "courses/tp4"]
	path = courses/tp4
	url = git@github.com:Iswenzz/Simplon-Touiteur.git
