[submodule "courses/tp1-cts"]
	path = courses/tp1-cts
	url = git@github.com:Iswenzz/Simplon-CTS
[submodule "courses/tp2-strawpoll"]
	path = courses/tp2-strawpoll
	url = git@github.com:Iswenzz/Simplon-StrawPoll.git
[submodule "courses/tp3-presence"]
	path = courses/tp3-presence
	url = git@github.com:Iswenzz/Simplon-Presence.git
[submodule "courses/tp4-touiteur"]
	path = courses/tp4-touiteur
	url = git@github.com:Iswenzz/Simplon-Touiteur.git
