[submodule "courses/tp1"]
	path = courses/tp1
	url = https://github.com/Iswenzz/Simplon-CTS
[submodule "courses/tp2"]
	path = courses/tp2
	url = https://github.com/Iswenzz/Simplon-StrawPoll.git
[submodule "courses/tp3"]
	path = courses/tp3
	url = https://github.com/Iswenzz/Simplon-Presence.git
